* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.app {
  width: 100%;
}

main {
  min-height: 10000px;
}

/* Headerが表示されている時のbodyのpadding */
body:has(.header) {
  padding-top: 80px;
}

