.btn-13 {
  position: relative;
  max-width: 180px;
  margin: 24px auto;
}

.btn-13-input {
  font-family: "Noto Serif JP", serif;
  font-size: 14px;
  letter-spacing: 0.1em;
  color: #333;
  font-weight: 400;
  display: block;
  width: 100%;
  text-align: center;
  padding: 4px 16px 4px 0;
  background: transparent;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
  transition: all 0.3s;
}

/* 下線 */
.btn-13::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  background: #333;
  bottom: 0;
  left: 0;
  transition: all 0.3s;
}

/* 斜め線 */
.btn-13::after {
  content: "";
  display: block;
  position: absolute;
  width: 30px;
  height: 1px;
  background: #333;
  rotate: 40deg;
  right: -3px;
  bottom: 10px;
  transition: all 0.3s;
}

/* hover アニメーション */
.btn-13:hover::before,
.btn-13:hover::after {
  translate: 20px 0;
}

